[Desktop Entry]
Name=Veusz
GenericName=Scientific plotting
GenericName[ca]=Traçador científic
GenericName[de]=Wissenschaftliches Plotten
GenericName[it]=Stampa scientifica
GenericName[ja]=科学用グラフ作成
GenericName[nl]=Wetenschappelijk plotten
GenericName[pt_BR]=Gerador de gráficos científicos
GenericName[ru]=Графопостроитель
GenericName[uk]=Побудова наукових графіків
GenericName[zh_CN]=科学绘图
Comment=Scientific plotting and graphing package
Comment[ca]=Paquet de traçament i grafisme científic
Comment[de]=Wissenschaftliches Plott- und Darstellungspaket
Comment[it]=Pacchetto di disegno e stampa scientifico
Comment[ja]=科学用グラフ作成パッケージ
Comment[nl]=Pakket voor wetenschappelijk plotten en grafieken maken
Comment[pt_BR]=Programa para gerar gráficos científicos
Comment[ru]=Пакет для научных графиков и чертежей
Comment[uk]=Пакунок для наукових графіків та креслень
Comment[zh_CN]=科学绘图和成像软件包
Comment[gl]=Paquete de representación gráfica de datos científicos
Comment[ms]=Pakej memplot dan membina graf saintifik
Comment[es]=Paquete de gráficas y diagramas científicos
Comment[sv]=Vetenskapligt plottnings- och grafritningspaket
MimeType=application/x-veusz;
Exec=veusz %F
Icon=veusz
Terminal=false
Type=Application
Categories=DataVisualization;Science;
Keywords=graphing;plotting;graph;plot;visualization;visualisation;science;math;maths;mathematics;data;
