body {
         font-family: arial, helvetica;
	 margin-left: 1em;
	 margin-right: 1em;
	 width:40em;
}

h1, h2, h3, h4 {
    font-family: verdana, arial;
}

.command, .literal {
    font-family: monospace;
    font-weight: normal;
    background-color: #eee;
    padding: 2px;
}

.programlisting {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #bbb;
        background-color: #eee;
        color: #000;   
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
}
