# files Git should always ignore

*.pyc
build/
veusz/helpers/*.pyd
veusz/helpers/*.so
*~
MANIFEST
dist/

# generated manual files
Documents/veusz.1
Documents/veusz.man.txt
Documents/veusz_listen.1
Documents/veusz_listen.man.txt
Documents/manual/

.idea/
veusz.egg-info/
