include VERSION AUTHORS ChangeLog COPYING INSTALL README
include MANIFEST.in setup.py setup.cfg
include scripts/veusz scripts/veusz_listen
recursive-include tests *.py *.sh
recursive-include Documents *.xml *.sh *.png *.txt *.pdf *.html
recursive-include windows *.png README
recursive-include examples *.vsz *.eps
recursive-include images *.png
