include VERSION AUTHORS ChangeLog COPYING INSTALL README
include MANIFEST.in setup.py setup.cfg
include scripts/veusz scripts/veusz_listen
recursive-include tests *.py *.sh *.vsz
recursive-include Documents *.xml *.sh *.png *.txt *.pdf *.html *.xsl *.py *.pod *.1
recursive-include windows *.png *.ico *.svg README
recursive-include dialogs *.ui
recursive-include examples *.vsz *.py *.csv *.dat
recursive-include widgets *.dat
recursive-include helpers *.c *.cpp *.h README LICENSE_*
