name: Windows pip build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v4
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Upgrade pip
      run : |
        python -V
        python -m pip install --upgrade pip
    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        cache: 'true'
        cache-key-prefix: 'qt-windows-v1'
        version: '5.15.2'
        setup-python: false
    - name: Install Python dependencies
      run: |
        pip install -r requirements.txt
    - name: Build
      run: |
        python setup.py build_ext --inplace
    - name: Run tests
      run: |
        set QT_QPA_PLATFORM=minimal
        set VEUSZ_INPLACE_TEST=1
        python tests/runselftest.py
      env:
        VEUSZ_INPLACE_TEST: '1'
        VEUSZ_REMOVE_FROM_ENV: 'QT_PLUGIN_PATH QML2_IMPORT_PATH'
